body {
  margin:0;
}

.my-slider-box-1 {
  border:10px solid red;
  position:relative;
}

.my-slider-box-1 .swiper-slide {
  height:calc(50vh);
}

.my-slider-box-1__nav {
  display:flex;
}

.my-slider-box-1 .my-slider-box-1__btn-left,
.my-slider-box-1 .my-slider-box-1__btn-right {
  font-size:2rem;
  font-weight:bold;
  outline:0;
}

.my-slider-box-2 {
  margin:10px;
  border:10px solid blue;
}